<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, consequuntur deleniti ea eligendi enim eum
      eveniet fuga, laboriosam laudantium libero, magni molestiae natus nulla omnis optio quis veniam! Animi aperiam
      dolore esse harum iusto optio quidem quos sapiente sequi voluptatibus. Accusantium aliquam dolor itaque mollitia
      nostrum repudiandae temporibus vel, vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, consequuntur deleniti ea eligendi enim eum
      eveniet fuga, laboriosam laudantium libero, magni molestiae natus nulla omnis optio quis veniam! Animi aperiam
      dolore esse harum iusto optio quidem quos sapiente sequi voluptatibus. Accusantium aliquam dolor itaque mollitia
      nostrum repudiandae temporibus vel, vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, consequuntur deleniti ea eligendi enim eum
      eveniet fuga, laboriosam laudantium libero, magni molestiae natus nulla omnis optio quis veniam! Animi aperiam
      dolore esse harum iusto optio quidem quos sapiente sequi voluptatibus. Accusantium aliquam dolor itaque mollitia
      nostrum repudiandae temporibus vel, vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, consequuntur deleniti ea eligendi enim eum
      eveniet fuga, laboriosam laudantium libero, magni molestiae natus nulla omnis optio quis veniam! Animi aperiam
      dolore esse harum iusto optio quidem quos sapiente sequi voluptatibus. Accusantium aliquam dolor itaque mollitia
      nostrum repudiandae temporibus vel, vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, consequuntur deleniti ea eligendi enim eum
      eveniet fuga, laboriosam laudantium libero, magni molestiae natus nulla omnis optio quis veniam! Animi aperiam
      dolore esse harum iusto optio quidem quos sapiente sequi voluptatibus. Accusantium aliquam dolor itaque mollitia
      nostrum repudiandae temporibus vel, vero!</p>
  </div>
</div>
